*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
chatterly-service-account.json
.env
Chatterly_Backend/bin/
Chatterly_Backend/obj/
Chatterly_Backend/.vs/
.VSCodeCounter